{% extends "base.html" %}

{% block content %}
  
<div class="container text-center">    
  <div class="row content">
    <div class="col-1-2 sidenav">
    </div>
    <div class="col-3-10"> 
      <h1 style="font-family:Merriweather;font-weight:bold;color:#204157">Hello
        {% if request.user.is_authenticated %}{{request.user.username}}{% endif %}! Welcome to Curate.
      </h1>
    </div>
    <div class="col-3-10"> 
      {% if content_list %}            

        {% for article in content_list %}
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#F4F0E6">
              <h4 style="font-family:Merriweather;font-weight:bold;color:#204157">{{ article.title }}</h4>
            </div>
            <div class="panel-body">
              <p style="font-family:Open Sans">{{article.description}}</p>
          </div>
        </div>

        {% endfor %}
      {% else %}
        <p>There is no health information pushed to you yet!</p>
      {% endif %}  
    </div>
    <div class="col-11-12 sidenav">
    </div>

  </div>
</div>

{% endblock %}
